body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://i.redd.it/srqqicni23c61.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box {
    width: 300px;
    height: 400px;
    padding: 40px;
    margin-left: 50%;
    transform: translate(-50%, 45%);
    background: #191919;
    text-align: center;
    box-shadow: 10px 9px 5px black;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background-color: white;
    display: block;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.15s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #53cc2e;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #22ac10;
}

a,
a:link {
    color: #fff;
    text-decoration: none;
    padding: 3px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
    color: white;
}