* {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

body {
    background-image: url("login.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.BotonNav{
    font-family: bahnschrift;
    color: whitesmoke;
    background-color:seagreen;
    font-size: 20px;
    border: none;
    padding: 25px 32px;
    text-decoration: none;
}
.BotonNav{
    transition-duration: 0.4s;
}
.BotonNav:hover{
    background-color:teal;
}
header{
    background-color:seagreen;
    text-align: center;
}

.box {
    width: 450px;
    height: 700px;
    padding: 40px;
    margin-left: 50%;
    transform: translate(-50%, 10%);
    background: #191919;
    text-align: center;
    box-shadow: 10px 9px 5px black;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    font-family: SFProDisplay-Bold;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    height: 5px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.15s;
}

.box select {
    border: 0;
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    height: 5px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.15s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #53cc2e;
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: #22ac10;
}

.box input[type="reset"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="reset"]:hover {
    background-color: rgb(189, 8, 8);
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
    color: white;
}

.contenedor {
    width: 300px;
    border: 2px #3498db solid;
    background-color: white;
    outline: none;
    border-radius: 24px;
    margin-left: 73px;
    height: 25px;
    padding-top: 6px;
}

#logueado{
    margin-top: 15%;
    text-align: center;
    font-size: 60px;
}

h1{
    font-family: bahnschrift;
    color: whitesmoke; 
    margin: 0%;
    text-align: center;
    text-shadow: -4px 3px 0 black; 
    font-size: 100px;
}