* {
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.wallpaperflare.com/static/180/332/866/animals-happy-cat-four-wallpaper-preview.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: #2F4F4E;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.25em;
    word-spacing: 1em;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #C6E3AD;
}

#card {
    position: relative;
    width: 320px;
    display: block;
    margin: 40px auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
    padding: 2em;
    background-color: #8BC34A;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 175px;
    margin-top: 75px;
    box-shadow: 10px 9px 5px black;
}

#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
}

#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 0.8em;
    margin-bottom: 7px;
    margin-left: 10px;
}

#lower-side {
    padding: 4em 4em 4em 4em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 175px;
    box-shadow: 10px 9px 5px black;
}

#message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
}

#contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background: #8bc34a;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.FlexFoot {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.021);
    margin: 15px;
}

.BotonFoot {
    font-family: bahnschrift;
    color: whitesmoke;
    border: none;
    background-color: rgba(0, 0, 0, 0.021);
    font-size: 20px;
    margin-right: none;
    width: 160px;
}

.BotonFoot:hover {
    background-color: rgba(0, 0, 0, 0.267);
}

.FlexFoot>div {
    margin-left: 5%;
    font-size: 17px;
}

.imagen {
    align-items: flex-start;
    margin-left: 0;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
}