<footer th:fragment="footer" >
    <div class=FlexFoot>
        <div>
            <button class="BotonFoot" role="link" onclick="window.location='/'">INICIO</button>
            <button th:if="${session.usuariosession == null}" class="BotonFoot" target="_blank" role="link" onclick="window.location='/registro'">REGISTRO</button><br>
            <button class="BotonFoot" role="link" onclick="window.open('https://www.instagram.com/gatitos_para_adoptar/')">CONTACTO</button></div>
            <div style="font-size: 20px">
            PATITAS es una web creada con el fin de contactar a las personas que quieran adoptar un gatito y a las que tengan uno para dar en adopción. Aqui podras ver a muchos gatitos que están buscando un nuevo hogar. ¡Esperamos que pases un buen rato y que disfrutes mucho!
        </div>
    </div>
</footer>