<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/logo.ico">
        <title>Modificacion</title>
        <link rel="stylesheet" type="text/css" href="/registro.css">
    </head>

    <body>
        <header th:replace="fragments/header::nav"></header>    
        
   
        <h1 th:text="${error}" th:if="${error}"></h1>
        <div id="foto" >
            <img  class="img-fluid " style="max-height: 150px; min-height: 150px; max-width: 180px; min-width: 180px; margin-left: 72%; margin-top: 5%" th:if="${usuario.foto != null && usuario.id != null}" th:src="${'/foto/usuario/' + usuario.id}" title="Usuario de nuestro sitio web" alt="Usuario de nuestro sitio web">
            <img  class="img-fluid " style="max-height: 150px; min-height: 150px; max-width: 180px; min-width: 180px; margin-left: 72%; margin-top: 5%" th:if="${usuario.foto == null && usuario.id != null}" src="/avatardefault.jpg" title="Usuario de nuestro sitio web" alt="Usuario de nuestro sitio web"> 
        </div>
        <form class="box" action="/admin/actualizar-usuario" method="POST" enctype="multipart/form-data" th:object="${usuario}">
            <h1>Modificacion de perfil de usuario</h1>
            
            <input type="hidden" th:field="*{id}">
            
            <input type="text" placeholder="Nombre" maxlength="20" th:field="*{nombre}" style="margin-top: 15%"><br> 
            <input type="text"  placeholder="Apellido" maxlength="20" th:field="*{apellido}"><br>          
            <input type="number"  id="edad" placeholder="Edad" maxlength="3" th:field="*{edad}"><br>
           

            <input type="text" placeholder="(Código de área) Número" th:field="*{numero}"><br>
                    
         
            <label>Localidad</label>
            <select th:field="*{localidad}"> 
                <option th:each="localidad : ${localidades}" th:value="${localidad.id}" th:text="${localidad.nombre}"  th:selected="${localidad != null && localidad.id == usuario.localidad.id}"></option>
            </select>

            <div class="distancia">
                    <label style="color: white">Borrar foto</label><br>
                    <label for="Mujer" class="uno" style="color: white">Si</label>
                    <input type="radio" id="Mujer" name="borrar" value="si" required="true">
                    <label for="hombre" class="uno" style="color: white">No</label>
                    <input type="radio" id="Hombre" name="borrar" value="no" required="true">
                    <br>
             </div> 
            
            <input type="submit" value="Modificar usuario">
            <input type="reset" value="Limpiar">


        </form>


       


    </body>