<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css">
        <title>Index</title>
        <link rel="shortcut icon" href="/logo.ico">
    </head>
    <body>

        <header th:replace="fragments/header::nav"></header>
     
        <h1 th:if="${nuevapw}" th:text="${nuevapw}" ></h1>
        <h1 th:if="${error}" th:text="${error}" ></h1>
        <h3>Bienvendido <span th:if="${session.usuariosession != null}"  th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></span> a</h3><br>
        <h1>PATITAS</h1>
        <h4>desde 1993</h4>

        <div class="Opciones">
            <h3>Seleccione una opcion de <span sec:authorize="hasRole('USER')">usuario</span><span sec:authorize="hasRole('ADMIN')">admin</span></h3><br>

            <div class="Botonera"></div>
            <button  th:if="${session.usuariosession == null}" class="BT" role="link" onclick="window.location='/login'">Iniciar sesión</button>
            <button  th:if="${session.usuariosession == null}" class="BT" role="link" onclick="window.location='/registro'">Registrarse</button>
            <button sec:authorize="hasRole('USER')" th:if="${session.usuariosession != null}" class="BT" role="link" onclick="window.location='/gato/editar-gato'">Dar en adopción</button>
            <button sec:authorize="hasRole('USER')" th:if="${session.usuariosession != null}" class="BT" role="link" onclick="window.location='/registro'">Adoptar un michi</button>
            <button sec:authorize="hasRole('ADMIN')" th:if="${session.usuariosession != null}" class="BT" role="link" onclick="window.location='/admin/lista-usuarios'">Lista de usuarios</button>
            <button sec:authorize="hasRole('ADMIN')" th:if="${session.usuariosession != null}" class="BT" role="link" onclick="window.location='/admin/lista-gatitos'">Lista de gatitos</button>


        </div>

        <footer th:replace="fragments/footer::footer"></footer>
           
    </body>
</html>