<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/logo.ico">
        <title>Patitas - Registro</title>
        <link rel="stylesheet" type="text/css" href="/registro.css">
    </head>

    <body>
        <header th:replace="fragments/header::nav"></header>    
        
        
        <div id="foto" >
            <img  class="img-fluid " style="max-height: 150px; min-height: 150px; max-width: 180px; min-width: 180px; margin-left: 72%; margin-top: 5%" th:if="${perfil.foto != null && perfil.id != null}" th:src="${'/foto/usuario/' + perfil.id}" title="Usuario de nuestro sitio web" alt="Usuario de nuestro sitio web">
            <img  class="img-fluid " style="max-height: 150px; min-height: 150px; max-width: 180px; min-width: 180px; margin-left: 72%; margin-top: 5%" th:if="${perfil.foto == null && perfil.id != null}" src="/avatardefault.jpg" title="Usuario de nuestro sitio web" alt="Usuario de nuestro sitio web"> 
        </div>
        <form class="box" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${perfil.id}">
            
            <h1 th:text="${accion}"></h1><br>
            <h2 id="error" th:if="${error}"  th:text="${error}" style="font-size: 20px; color: red"></h2><br>
                    
            <input type="text" name="nombre" placeholder="Nombre" maxlength="20" th:value="${perfil.nombre}" ><br> 
            <input type="text" name="apellido" placeholder="Apellido" maxlength="20" th:value="${perfil.apellido}"><br>
            <input type="number" name="edad" id="edad" placeholder="Edad" maxlength="3" th:value="${perfil.edad}"><br>
            <input type="text" name="username" placeholder="Nombre de usuario" th:value="${perfil.username}" maxlength="20"><br>

            <div class="contenedor">
                <label for="Mujer" class="uno">Mujer</label>
                <input type="radio" id="Mujer" name="sexo" value="1" th:checked="${sexoNumero} == 1">

                <label for="hombre" class="uno">Hombre</label>
                <input type="radio" id="Hombre" name="sexo" value="2" th:checked="${sexoNumero} == 2">

                <label for="otro" class="uno">Otro</label>
                <input type="radio" id="Otro" name="sexo" value="3" th:checked="${sexoNumero} == 3">
            </div><br>

            <input type="text" name="numero" placeholder="(Código de área) Número" th:value="${perfil.numero}"><br>
            <input type="file" name="archivo"><br>
            <input type="text" name="email" placeholder="E-Mail" th:value="${perfil.email}"><br>

            <label>Localidad</label>
            <select name="idLocalidad"> 
                <option th:each="localidad : ${localidades}" th:value="${localidad.id}" th:text="${localidad.nombre}" th:selected="${perfil.localidad != null && localidad == perfil.localidad}"></option>
            </select>

            <input type="password" name="clave1" placeholder="Contraseña"><br>
            <input type="password" name="clave2" placeholder="Repetir Contraseña"><br>

            <input th:if="${session.usuariosession != null}" formaction="/usuario/actualizar-perfil" formmethod="POST" type="submit" value="Actualizar">
            <input th:if="${session.usuariosession != null}" formaction="/" formmethod="GET" type="submit" value="Volver">
            <input th:if="${session.usuariosession == null}" formaction="/registrar" formmethod="POST" type="submit" value="Registar">
            <input th:if="${session.usuariosession == null}" type="reset" value="Limpiar">

        </form>

        

       


    </body>